{% extends 'base.html' %}
{% block title %}Set New Password{% endblock %}
{% block content %}
<div class="max-w-md mx-auto mt-16 glass border border-gray-700 rounded-2xl shadow p-6 fade-up">
    <h2 class="text-2xl font-bold mb-4 text-center">Set a new password</h2>
    <form method="post" class="space-y-3">
        {% csrf_token %}
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        <button class="btn btn-emerald w-full py-3 mt-2">Change Password</button>
    </form>
</div>
{% endblock %}