{% extends 'base.html' %}
{% block title %}Set New Password{% endblock %}
{% block content %}
<div class="max-w-md mx-auto mt-10 p-6 bg-gray-800 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-4 text-center">Set a new password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        <button type="submit" class="w-full mt-4 bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded">Change Password</button>
    </form>
</div>
{% endblock %} 